.text-line-through {
    text-decoration: line-through;
    color: #bbb;
}

#data-heading{background: #dbdbdb}
.data-row .row {
    padding-top: 10px;
    padding-bottom: 5px;
}

.data-row .row-bg:nth-child(even) {
    background: #efefef
}

.data-row .row-bg:nth-child(even):hover {
    background: #e0e0e0
}

.data-row .row-bg:nth-child(odd) {
    background: #eaeaea
}

.data-row .row-bg:nth-child(odd):hover {
    background: #e0e0e0
}